<%= render partial: '/shared/topnav', locals: { user: @user } %>

<div class="container">
	<div class="row">
		<% if @trips.empty? %>
			<h5>No group trips with spots available.</h5></div>
		<% else %>
			<% @trips.each_with_index do |trip, index| %>
				<div class="col-sm-4">
					<div class="card" style="border: 1px solid black">
						<%= image_tag "global_travel.jpg", class: "card-img-top" %>
					</div>
				   <div class="card-body" style="border: 1px solid grey">
				   	<strong><p class="card-title text-center"><%= trip.title %>: <%= trip.start.strftime("%b %-d, %Y") %> - <%= trip.end.strftime("%b %-d, %Y") %></p></strong>
				   	<p class="card-text text-center"><%= trip.description %></p>
				   	<p class="card-text text-center">Trip Creator: <%= trip.creator %></p>
				   	<input id="user-<%= @user.id %>-trip-<%= trip.id %>" type="button" class="btn btn-success btn-block" value="Select Trip">
				   </div>
				</div>
				<% if index + 1 % 3 == 0 %>
					</div><div class="row">
				<% elsif index == @trips.length %>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div id="modal-display" data-taget="#myModal"></div>
	<div id="groupTripShow"></div>
</div>

<script type="text/javascript" charset="utf-8">
	$(function() {
		console.log('page is fully loaded...');
		listenForGroupTripClick();
	})

	function listenForGroupTripClick() {
		$('input').on('click', function(event) {
			event.preventDefault();
			let path = $('input')["0"].id.split('-');
			let userId = path[1];
			let tripId = path[3];
			getTrip(userId, tripId);
		})
	}

	function getTrip(userId, tripId) {
		$.ajax({
			url: 'http://localhost:3000/users/' + userId + '/trips/' + tripId,
			method: 'get',
			dataType: 'json',
			success: function(data) {
				var newTrip = new Trip(data)
				document.querySelector('#modal-display').innerHTML = newTrip.tripConfirmShow()
				$('#myModal').modal('show')
				listenForTripConfirm(userId, newTrip);
			}
		})
	}

	function listenForTripConfirm(userId, newTrip) {
		$('form#confirm_trip').submit(function(event) {
			event.preventDefault();
			let values = $(this).serialize();
			let posting = $.post(`http://localhost:3000/group_trip`, values)

			posting.done(function(data) {
				var updatedGroupTrip = new Trip(data)
				document.querySelector('div.col-sm-4').innerHTML = '';
				$('#myModal').modal('hide');
				document.querySelector('div#groupTripShow').innerHTML = updatedGroupTrip.groupTripShow();
			})
		})
	}

	class Trip {
		constructor(obj) {
			this.id = obj.id 
			this.title = obj.title
			this.description = obj.description
			this.start = new Date(obj.start)
			this.end = new Date(obj.end)
			this.groupTrip = obj.group_trip
			this.stops = obj.stops
			this.users = obj.users
		}
	}

Trip.prototype.tripConfirmShow = function() {
	return (`
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">${this.title}</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h5>Description</h5>
						<p>${this.description}</p>
						<h5>Trip Dates</h5>
						<p>${this.start.toLocaleDateString()} - ${this.end.toLocaleDateString()}</p>
						<h5>Trip Creator</h5>
						<p>${this.creator}</p>
						<h5>Stops</h5>
						<ul class="stops-list">
							${this.listStops()}
						</ul>
						<h5>Trip Companions</h5>
						<ul class="users-list">
							${this.listUsers()}
						</ul>
						<form id="confirm_trip" action="/users/${this.id}/group_trip" method="post">
							<input type="hidden" id="trip_id" name="trip[id]" value="${this.id}">
							<input type="submit" class="btn btn-success btn-block" value="Confirm Trip">
						</form>
					</div>
				</div>
			</div>
		</div>
	`)
}

Trip.prototype.groupTripShow = function() {
	return (`
		<div class="container">
			<div class="row">
				<div class="col-4 center-block">
					<div class="card" style="border: 1px solid black">
						<img src="/assets/global_travel.jpg" class="card-img-top">
					</div>
				   <div class="card-body" style="border: 1px solid grey">
				   	<strong><p class="card-title text-center">${this.title}: ${this.start.toLocaleDateString()} - ${this.end.toLocaleDateString()}</p></strong>
				   	<p class="card-text text-center">${this.description}</p>
				   </div>
			   </div>
			</div>
		</div>
	`)
}

Trip.prototype.listStops = function() {
	stopsString = ""
	if (this.stops.length === 0) {
		stopsString += "<li>No stops added yet</li>";
	}
	else {
		this.stops.forEach(function(array) {
			stopsString += "<li>" + array.location + "</li>";
		})
	}
	return stopsString
}

Trip.prototype.listUsers = function() {
	usersString = ""
	this.users.forEach(function(hash) {
		usersString += "<li>" + hash.name + "</li>";
	})
	return usersString
}

</script>