<div class="wrapper">
	<%= render partial: '/shared/sidebar', locals: { user: @user } %>

	<div class="container-fluid mx-2">
		<%= render partial: '/shared/topnav', locals: { user: @user } %>
		<div class="row justify-content-center" style="height: 525px">
		<% @trips.each_with_index do |trip, index| %>
			<div class="col-4 px-0 border border-primary rounded">
				<div class="card" style="height: 275px">
					<%= image_tag trip.select_image, class: "card-img-top", style: "height: 100%" %>
				</div>
		   	<div class="card-body">
			   	<p class="card-title text-center text-dark font-weight-bold" style="font-size: 18px; height: 50px"><%= trip.title %>:<br><%= trip.start.strftime("%b %-d, %Y") %> - <%= trip.end.strftime("%b %-d, %Y") %></p>
		   		<div class="row">
			   		<p class="col card-text text-center" style="height: 50px; overflow-y: auto"><%= trip.description %></p>
			   	</div>
			   	<div class="row">
			   		<p class="col card-text mx-auto text-center" style="height: 25px">Stops: <%= link_to trip.stops.length, trip_stops_path(trip) %></p>
			   		<p class="col card-text mx-auto text-center" style="height: 25px">Flights: <%= link_to trip.flights.length, trip_flights_path(trip) %></p>
			   	</div>
			   	<div class="row">
			   		<p class="col card-text text-center" style="height: 25px">Activities: <%= link_to trip.activities.length, trip_activities_path(trip) %></p>
			   		<p class="col card-text text-center" style="height: 25px">Accommodations: <%= link_to trip.accommodations.length, trip_accommodations_path(trip) %></p>
			   	</div>
			   	<div style="height: 50px; overflow-y: auto">				   	
				   	<p class="col card-text text-center">Travellers: <%= trip.travellers.join(", ") %></p>
			   	</div>
					<div class="row my-2">
						<%= link_to '<button class="btn btn-info btn-block" type="button">View Trip</button>'.html_safe, user_trip_path(@user, trip), class: "col mx-auto", style: "text-decoration: none" %>
			   	</div>				   	
		   	</div>
			</div>
			<% if index + 1 % 3 == 0 %>
				</div><div class="row">
			<% elsif index == @trips.length %>
				</div>
			<% end %>
		<% end %>
		</div>
	</div>
</div>