<div class="form-group px-2">
  <%= f.label :departure, "Departure Date/Time*:" %>
  <%= f.datetime_field :departure, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :arrival, "Arrival Date/Time*:" %>
  <%= f.datetime_field :arrival, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :dep_loc, "Departure Location*:" %>
  <%= f.text_field :dep_loc, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :arr_loc, "Arrival Location*:" %>
  <%= f.text_field :arr_loc, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :airline, "Airline*:" %>
  <%= f.text_field :airline, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :flight_num, "Flight Number*:" %>
  <%= f.text_field :flight_num, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :confirm_num, "Confirmation Number*:" %>
  <%= f.text_field :confirm_num, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :checked_bags, "Checked Bags*:" %>
  <%= f.number_field :checked_bags, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :cost, "Cost ($)*:" %>
  <%= f.number_field :cost, value: number_to_currency(f.object.cost.to_f, delimiter: '', unit: ''), step: :any, class: "form-control" %>
</div>
