<div class="form-group px-2">
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :acc_type, "Type:" %>
  <%= f.select :acc_type, ["Hotel", "Hostel", "Airbnb", "Campsite", "Other"], { include_blank: false }, { class: "form-control" } %>
</div>

<div class="form-group px-2">
  <%= f.label :location, "Location:" %>
  <%= f.text_field :location, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :address_1, "Address 1:" %>
  <%= f.text_field :address_1, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :address_2, "Address 2:" %>
  <%= f.text_field :address_2, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :check_in, "Check-In Date/Time: " %>
  <%= f.datetime_field :check_in, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :check_out, "Check-Out Date/Time: " %>
  <%= f.datetime_field :check_out, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :booking_num, "Booking Number:" %>
  <%= f.text_field :booking_num, class: "form-control" %>
</div>

<div class="form-group px-2">
  <%= f.label :cost, "Cost ($):" %>
  <%= f.number_field :cost, value: number_to_currency(f.object.cost.to_f, delimiter: '', unit: ''), step: :any, class: "form-control" %>
</div>