<div class="wrapper">

	<%= render partial: '/shared/sidebar', locals: { user: @user } %>

	<div class="container-fluid mx-2">

		<%= render partial: '/shared/topnav', locals: { user: @user } %>

		<div id="trip-modal-display" data-taget="#tripModal" name="<%= @user.id %>"></div>
		<div class="js-render-content"></div>
		<div class="row justify-content-center">
			<div class="col-12 py-2 border border-primary" style="border-radius: 20px">
				<div class="tab-content" id="pills-tabContent">
				  <div class="tab-pane fade show active" id="pills-trips" role="tabpanel" aria-labelledby="pills-trips-tab">
			  		<% if @trips_upcoming_sorted.empty? %>
			  			<div class="row">
					  		<div class="col-12 mx-0">
				  				<h3 class="text-primary text-center">You have not created or joined any trips!</h3>
				  			</div>
			  				<%= link_to '<button class="btn btn-success my-2" type="button">Create New Trip</button>'.html_safe, new_user_trip_path(@user), class: "ml-auto mr-1" %>
			  				<%= link_to '<button class="btn btn-success my-2" type="button">Join a Group Trip</button>'.html_safe, group_trip_path, class: "mr-auto ml-1" %>
		  				</div>
		  			<% else %>
			  			<div class="row">
						  	<div class="col-8 border-right border-primary">
						  		<h3 class="text-primary text-center">Next Upcoming Trip</h3>
						  		<div class="row">
						  			<div class="col-6 mx-auto">
											<div class="card mx-auto my-auto">
												<%= image_tag @trips_upcoming_sorted.first.select_image, class: "card-img-top" %>
											</div>
									   	<div class="card-body">
										   	<h3 class="card-title text-center"><%= @trips_upcoming_sorted.first.title %></h3>
											   	<p class="col card-text text-center"><%= @trips_upcoming_sorted.first.start.strftime("%b %-d, %Y") %> - <%= @trips_upcoming_sorted.first.end.strftime("%b %-d, %Y") %></p>
									   	</div>										
						  			</div>
						  			<div class="col-6 mx-auto my-auto">
						  				<strong><p>Trip Description: </strong><%= @trips_upcoming_sorted.first.description %></p>
						  				<strong>Stops: </strong><%= link_to "#{@trips_upcoming_sorted.first.stops.length} Added", trip_stops_path(@trips_upcoming_sorted.first) %> - <%= link_to "Add New Stop", new_trip_stop_path(@trips_upcoming_sorted.first) %>
					  					<ul>
					  						<% if @trips_upcoming_sorted.first.stops.empty? %>
					  							<li>No stops yet for this trip</li>
				  							<% else %>
				  								<li>
				  									<%= @trips_upcoming_sorted.first.stop_locations.join(", ") %>
							  					</li>
					  						<% end %>
					  					</ul>
						  				<strong>Other Travellers:</strong>
											<% if @trips_upcoming_sorted.first.group_trip %>
						  					<ul>
						  						<% if @trips_upcoming_sorted.first.users.length == 1 %>
						  							<li>No other travellers on this trip</li>
					  							<% else %>
							  						<li>
							  							<%= @trips_upcoming_sorted.first.travellers.join(", ") %>
							  						</li>
						  						<% end %>
						  					</ul>		
					  					<% else %>
					  						<ul>
					  							<li>No other travellers on this trip</li>
					  						</ul>
					  					<% end %>
					  					<p>Flights: <%= link_to "#{@trips_upcoming_sorted.first.flights.length} Booked", trip_flights_path(@trips_upcoming_sorted.first) %> - <%= link_to "Add New Flight", new_trip_flight_path(@trips_upcoming_sorted.first) %></p>
					  					<p>Activities: <%= link_to "#{@trips_upcoming_sorted.first.activities.length} Booked", trip_activities_path(@trips_upcoming_sorted.first) %> - <%= link_to "Add New Activity", new_trip_activity_path(@trips_upcoming_sorted.first) %></p>
					  					<p>Accommodations: <%= link_to "#{@trips_upcoming_sorted.first.accommodations.length} Booked", trip_accommodations_path(@trips_upcoming_sorted.first) %> - <%= link_to "Add New Accommodation", new_trip_accommodation_path(@trips_upcoming_sorted.first) %></p>
					  					<div class="text-center">
					  						<%= link_to '<button class="btn btn-info col-5" type="button">View Trip</button>'.html_safe, user_trip_path(@user, @trips_upcoming_sorted.first) %>
					  						<%= link_to '<button class="btn btn-warning col-5" type="button">Edit Trip</button>'.html_safe, edit_user_trip_path(@user, @trips_upcoming_sorted.first) %>
					  					</div>
						  			</div>
						  		</div>
						  	</div>
						  	<div class="col-4 mx-auto">
						  		<h3 class="text-primary text-center">All Trips</h3>
						  			<div class="row">
						  				<div class="col-12 mt-4">
						  					<strong><p class="text-center">Number of Other Upcoming Trips: </strong><a href="#" id="user-upcoming-trips" name="<%= @user.id %>"><%= @trips_upcoming_sorted.length %></a></p>
						  					<strong><p class="text-center">Cost of Other Upcoming Trips: </strong>
						  						<% upcoming_total = 0 %>
						  						<% @trips_upcoming_sorted.each { |trip| upcoming_total += trip.total_costs } %>
						  						<%= number_to_currency(upcoming_total) %>
						  					</p>
						  					<strong><p class="text-center">Number of Past Trips: </strong><a href="#" id="user-past-trips" name="<%= @user.id %>"><%= @trips_past_sorted.length %></a></p>
						  					<strong><p class="text-center">Cost of Past Trips: </strong>
						  						<% past_total = 0 %>
						  						<% @trips_past_sorted.each { |trip| past_total += trip.total_costs } %>
						  						<%= number_to_currency(past_total) %>
						  					</p>
						  					<strong><p class="text-center">Total Number of Trips: </strong><a href="#" id="user-trips" name="<%= @user.id %>"><%= @trips.length %></a></p>
						  					<strong><p class="text-center">Total Cost of Trips: </strong>
						  						<% total = 0 %>
						  						<% @trips.each { |trip| total += trip.total_costs } %>
						  						<%= number_to_currency(total) %>
						  					</p>
					  					</div>
						  				<%= link_to '<button class="btn btn-success my-2" type="button">Create New Trip</button>'.html_safe, new_user_trip_path(@user), class: "ml-auto mr-1" %>
						  				<%= link_to '<button class="btn btn-success my-2" type="button">Join a Group Trip</button>'.html_safe, group_trip_path, class: "mr-auto ml-1" %>
							  		</div>
						  	</div>
			  			</div>
		  			<% end %>
				  </div>
				</div>
			</div>
		</div>

	</div>

</div>