<div class="wrapper">
	<%= render partial: '/shared/sidebar', locals: { user: @user } %>

	<div class="container-fluid mx-2">
		<%= render partial: '/shared/topnav', locals: { user: @user } %>
		<div class="row justify-content-center">
			<div class="col-sm-4 mx-2 mt-3 border border-info rounded">
				<h4 class="form-inline justify-content-center py-3" style="color: teal"><i class="fas fa-user-cog"></i> User Profile</h4>
					<div class="form-group px-2">
						<p>Email:</p>
						<input disabled class="form-control" value="<%= @user.email %>" disabled></input>
					</div>
					<div class="form-group px-2">
						<p>Name:</p>
						<input disabled class="form-control" value="<%= @user.name %>" disabled></input>
					</div>
					<div class="form-group px-2">
						<p>Location:</p>
						<input class="form-control" value="<%= @user.location %>" disabled></input>
					</div>
					<div class="form-group px-2">
						<p>Biography:</p>
						<textarea rows="3" class="form-control" disabled><%= @user.bio %></textarea>
					</div>										

	      <%= link_to '<button class="btn btn-info btn-block my-1" type="button">Edit Profile</button>'.html_safe, edit_user_path, id: "edit-user", style: "text-decoration: none" %>
	      <%= link_to '<button class="btn btn-danger btn-block mt-1 mb-3" type="button">Delete Profile</button>'.html_safe, user_path, method: :delete, data: { confirm: "Are you sure you want to delete this user?" }, style: "text-decoration: none" %>
			</div>

			<div class="col-sm-4 mx-2 mt-3 border border-info rounded">
				<h4 class="form-inline justify-content-center py-3" style="color: teal"><i class="fas fa-plane-departure"></i> User Trip Statistics</h4>
				<strong><p class="text-center">Total Trips Taken: </strong><%= @trips_past.length %></p>
				<strong><p class="text-center">Total Cost of Trips Taken: </strong>
					<% total_cost = 0 %>
					<% @trips_past.each { |trip| 
						total_cost += trip.total_costs } %>
					<%= number_to_currency(total_cost) %>
				</p>
				<strong><p class="text-center">Number of Places Visited: </strong><%= @stops_past.length %></p>
				<strong><p class="text-center">Past Travelling Partners: </strong>
					<%= @travelling_partners.join(", ") %>
				</p>				
				<strong><p class="text-center">Upcoming Trips: </strong><%= @trips_upcoming.length %></p>
				<strong><p class="text-center">Expected Cost of Upcoming Trips: </strong>
					<% upcoming_cost = 0 %>
					<% @trips_upcoming.each { |trip| 
						upcoming_cost += trip.total_costs } %>
					<%= number_to_currency(upcoming_cost) %>
				</p>
			</div>
		</div>

	</div>

</div>