<div class="wrapper">
	<%= render partial: '/shared/sidebar', locals: { user: @user } %>

	<div class="container-fluid mx-2">
		<%= render partial: '/shared/topnav', locals: { user: @user } %>

		<div class="row justify-content-center">
			<div class="col-4 mx-0 px-0 border border-primary rounded">
				<div class="card">
					<%= image_tag @trip.select_image, class: "card-img-top" %>
				</div>
		   	<div class="card-body">
			   	<h3 class="card-title text-center"><%= @stop.location %></h3>
			   	<h5 class="card-title text-center"><%= @stop.arr_date.strftime("%b %-d, %Y") %> - <%= @stop.dep_date.strftime("%b %-d, %Y") %></h5>
			   	<strong><p class="card-title text-center">Trip: <%= @trip.title %></p></strong>
		   		<div class="row">
				   	<p class="col card-text text-center" style="height: 50px; overflow-y: auto">Restrictions: <%= @stop.restrictions %></p>
			   	</div>
					<div class="row my-2">
						<%= link_to '<button class="btn btn-warning btn-block" type="button">Edit Stop</button>'.html_safe, edit_trip_stop_path, class: "col-6 mx-auto", style: "text-decoration: none" %>
						<%= link_to '<button class="btn btn-success btn-block" type="button">Add New Stop</button>'.html_safe, new_trip_stop_path, class: "col-6 mx-auto", style: "text-decoration: none" %>
			   	</div>
			   	<div class="row my-2">
						<%= link_to '<button class="btn btn-info btn-block" type="button">All Stops</button>'.html_safe, trip_stops_path, class: "col mx-auto", style: "text-decoration: none" %>
					</div>
					<p class="mb-0">To delete this stop from the trip, <%= link_to "click here.", trip_stop_path(@trip, @stop), method: :delete, data: { confirm: "Are you sure you wish to delete this stop?" }%></p>
		   	</div>
	   	</div>
		</div>
	</div>
</div>
